@import '../global-variables.scss';
@import '../animations.scss';

#Contact {
    display: grid;
    grid-template-columns: 1fr $sectionTitleWidth;
    grid-template-rows: 1fr;
    padding: $verticalSectionMargin 50px;

    #contact-content {
        grid-column-start: 1;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;

        #contact-links {
            grid-row-start: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 30px;

            a {
                margin: 0px 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 20px;
                text-decoration: none;
                filter: $dropShadow;
                text-shadow: $smallShadow;

                &:visited {
                    color: $white;
                }

                path {
                    fill: $yellow;
                }

                p {
                    margin-left: 15px;
                }
            }
        }

        form {
            padding: 0px 200px;
            display: grid;
            grid-template-rows: auto 50px auto 50px auto;
            grid-template-columns: 1fr;
            margin-top: 50px;
            font-size: 20px;
            position: relative;

            .exceeded-limit, :disabled {
                opacity: 0.2;
            }

            input,
            textarea {
                padding: 10px;
                color: $white;
                font-size: 22px;
                background-color: rgba(255, 255, 255, 0.3);
                border: 2px solid rgba(0, 0, 0, 0.2);
                box-shadow: $smallShadow;
                // necessary for removing the yellow autofill background color
                transition: background-color 5000s ease-in-out 0s;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.5);
                }

                &:focus,
                &:active,
                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                    outline: none;
                    // necessary for removing the yellow autofill background color
                    transition: background-color 5000s ease-in-out 0s;
                }
            }

            input:-webkit-autofill,
            textarea:-webkit-autofill {
                -webkit-text-fill-color: $white !important;
            }
            

            #name-and-email {
                grid-row-start: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;

                input {
                    margin: 0px 40px;
                    flex: 1 1 auto;
                }
            }

            .error p {
                color: $red;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 5px;
                padding: 3px 8px;
                display: inline-block;
                font-size: 16px;
                animation: fade-in 0.5s ease-out;
            }

            .err-border {
                border: 2px solid $red;
            }

            #name-email-errors {
                grid-row-start: 2;
                margin: 5px 40px 10px 40px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;

                #name-error {
                    grid-column-start: 1;
                }

                #email-error {
                    grid-column-start: 2;
                    margin-left: 40px;
                }
            }

            #message-area {
                grid-row-start: 3;
                grid-column-start: 1;

                margin: 0px 40px;
                
                textarea {
                    width: 100%;
                    height: 200px;
                }
            }

            #message-info-row {
                grid-row-start: 4;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                margin: 0px 40px;

                #message-error {
                    grid-column-start: 1;
                }

                #message-count {
                    grid-column-start: 2;
                    justify-self: end;

                    p {
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            #submit {
                grid-row-start: 5;
                margin-bottom: 40px;

                button {
                    display: block;
                    margin: auto;
                    width: 250px;
                    height: 40px;
                    font-size: 18px;
                    background-color: $yellow;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    color: $black;
                    box-shadow: $smallShadow;

                    &:hover:not(:disabled) {
                        cursor: pointer;
                    }

                    &:hover:disabled {
                        cursor: not-allowed;
                    }
                }
            }
        }

        #exceeded-limit-message, #loading, #success {
            grid-row-start: 3;
            grid-column-start: 1;
            z-index: 2;
            font-size: 20px;
            justify-self: center;
            align-self: center;
            animation: fade-in 0.5s ease-out;

        }

        #loading {
            font-size: 20px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            padding: 10px;
            animation: fade-in 0.5s ease-out;


            p {
                margin-top: 10px;
                color: $red;
            }
        }
        
        #success {
            margin: 0px 200px;
            font-size: 26px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            padding: 30px;
            animation: fade-in 1.5s ease-out;

            h1 {
                margin-bottom: 5px;
                color: $red;
            }

            p {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

    .section-title {
        grid-column-start: 2;
    }
}