@import '../global-variables.scss';
@import '../animations.scss';

#About {
    
    .section-title {
        grid-column: 1;
        -ms-grid-column: 1;
    }

    .content-container {
        grid-column: 2 / 4;
        display: grid;
        grid-template-columns: 2fr 1fr;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        display: -ms-grid;
        -ms-grid-columns: 2fr 1fr;
        padding-bottom: 0;

        h2 {
            text-shadow: $smallShadow;
        }

        #about-me {
            grid-column: 1;
            -ms-grid-column: 1;
            color: $white;
            opacity: 0;
    
            p {
                margin-bottom: 3.5rem;
                text-shadow: $smallShadow;
            }

            .hover-text {
                cursor: help;
                border-bottom: solid 1px $yellow;

                &:hover::before, &:focus::before {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    transform: translateY(2rem);
                    background: $blue;
                    padding: 0.1em 0.75em;
                    border-radius: 1em;
                    color: $yellow;
                    font-size: 1.25rem;
                    animation: fade-in 0.5s ease-out;
                    animation-fill-mode: forwards;
                }

                &.family:hover::before, &.focus:hover::before {
                    content: 'My wife and daughter are amazing!';
                }
                &.dog:hover::before, &.focus:hover::before {
                    content: 'Trip is my spunky, goofy Norwegian Buhund, whom I built the treat dispenser for';
                }
                &.cougs:hover::before, &.focus:hover::before {
                    content: 'GO COUGS!';
                }
                &.sounders:hover::before, &.focus:hover::before {
                    content: 'I\'ve been a fan for awhile. If only we could be good the WHOLE season...';
                }
                &.games:hover::before, &.focus:hover::before {
                    content: 'Rocket League is Siiiick!';
                }
                &.homebrewing:hover::before, &.focus:hover::before {
                    content: 'Beer tastes better when you make it yourself. My best is a chocolate hazelnut brown with a hint of orange';
                }
                &.coffee:hover::before, &.focus:hover::before {
                    content: 'I\'m torn between my V60 and Aeropress. Someday, I\'ll DIY a fully-automatic pour-over frankenstein brewer';
                }
                &.guitar:hover::before, &.focus:hover::before {
                    content: 'I\'m self-taught and have a beautiful PRS Singlecut';
                }
                &.guitar:hover::before, &.focus:hover::before {
                    content: 'I\'m not exactly good, but oh man is it a great way to relieve stress!';
                }
                &.outdoors:hover::before, &.focus:hover::before {
                    content: 'Cliché, I know, but we really do live in the best area for outdoor activities';
                }
            }

            .statement {
                color: $red;
            }

            a, a:visited {
                color: $red;
            }

            &.animated {
                animation: fade-in 1s ease-out, big-up 1s ease-out;
                animation-fill-mode: forwards;
            }
        }

        #other-details {
            grid-column: 2;
            -ms-grid-column: 2;
            padding-left: 5vw;
            opacity: 0;

            h2 {
                color: $yellow;
            }
    
            ul {
                list-style-type: none;
                padding-left: 2rem;
                margin-top: 0.25rem;
    
                li {
                    opacity: 0.9;
                    padding: 0.5rem;
                    text-shadow: $smallShadow;
                    filter: $dropShadow;
    
                    &:before { 
                        content: ''; 
                        display: inline-block; 
                        height: 0.8rem; 
                        width: 0.8rem; 
                        mask-image: url('../images/bullet.svg');
                        margin-right: 0.8rem;
                        margin-bottom: 0.2rem;
                        background-color: $yellow;
                        }
    
                    &.inactive {
                        opacity: 0.3;
    
                        &:before {
                            background-color: $red;
                        }
                    }
                }
            }

            &.animated {
                animation: fade-in 1s ease-out, big-left 1s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    @include eight-hundred {
        .content-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            display: -ms-grid;
            -ms-grid-columns: 1fr;
            -ms-grid-rows: auto auto;

            #about-me {
                grid-column: 1;
                grid-row: 1;
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                margin-bottom: 3.5rem;
            }
            #other-details {
                grid-column: 1;
                grid-row: 2;
                -ms-grid-column: 1;
                -ms-grid-row: 2;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                padding-left: 0;

                #location, #looking-for, #relocate-to {
                    flex: 1 0 200px;
                    margin-bottom: 3.5vw;
                }
            }
        }
    }
}