@import '../global-variables.scss';

#About {
    padding-bottom: 0;
    
    .section-title {
        grid-column-start: 1;
    }

    .content-container {
        grid-column: 2 / 4;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-bottom: 0;

        h2 {
            text-shadow: $smallShadow;
        }

        #about-me {
            grid-column-start: 1;
            color: $white;
            font-size: 2rem;
    
            p {
                margin-bottom: 3.5rem;
                line-height: 2.75rem;
                text-shadow: $smallShadow;
            }

            h2 {
                color: $red;
            }
        }

        #other-details {
            grid-column-start: 2;
            padding-left: 5vw;
            font-size: 2rem;

            h2 {
                color: $yellow;
            }
    
            ul {
                list-style-type: none;
                padding-left: 2rem;
                margin-top: 0.25rem;
    
                li {
                    opacity: 0.9;
                    padding: 0.5rem;
                    text-shadow: $smallShadow;
                    filter: $dropShadow;
    
                    &:before { 
                        content: ''; 
                        display: inline-block; 
                        height: 0.8rem; 
                        width: 0.8rem; 
                        mask-image: url('../images/bullet.svg');
                        margin-right: 0.8rem;
                        margin-bottom: 0.2rem;
                        background-color: $yellow;
                        }
    
                    &.inactive {
                        opacity: 0.3;
    
                        &:before {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }

    @include eight-hundred {
        .content-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;

            #about-me {
                grid-column-start: 1;
                grid-row-start: 1;
                margin-bottom: 3.5rem;
            }
            #other-details {
                grid-column-start: 1;
                grid-row-start: 2;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                padding-left: 0;

                #location, #looking-for {
                    flex: 0 0 200px;
                    margin-bottom: 3.5rem;
                }
            }
        }
    }
}