@import '../global-variables.scss';

#Skills {
    display: grid;
    grid-template-columns: $sectionTitleWidth 1fr;
    grid-template-rows: 1fr;
    padding: 0 50px;
    margin: $verticalSectionMargin 0px;
    align-items: center;
    -ms-grid-row-align: center;
    min-height: 60vh;

    .section-title {
        grid-column-start: 1;
        grid-row-start: 1;
        align-self: center;
    }

    #skills-columns {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;

        #languages, #tools, #databases {

            ul {
                list-style-type: none;
                padding-left: 20px;
                margin-top: 10px;

                li {
                    opacity: 0.9;
                    padding: 5px;
                    font-size: 20px;

                    &::before { 
                        content:''; 
                        display:inline-block; 
                        height:8px; 
                        width:8px; 
                        mask-image:url('../images/bullet.svg');
                        margin-right: 8px;
                        margin-bottom: 2px; 
                        }
                }
            }
        }

        #databases {
            width: 600px;
        }

        #databases::after{
            content: 'Everything needed to build beautiful, efficient, full-stack web apps and software.';
            font-size: 38px;
            font-family: $headerFont;
            font-weight: bold;
            color: $yellow;
            position: absolute;
            bottom: 0;
        }

        #languages li::before {
            background-color: $red;
            grid-column-start: 1;
        }

        #tools li::before {
            background-color: $gray;
            grid-column-start: 2;
        }

        #databases li::before {
            background-color: $yellow;
            grid-column-start: 3;
        }
    }
}