@import '../global-variables.scss';

#Skills {
    min-height: 60vh;

    .section-title {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    #skills-columns {
        grid-column: 2 / 4;
        grid-row-start: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        h2 {
            text-shadow: $smallShadow;
            font-size: 3em;

            @include six-hundred {
                font-size: 1.75rem;
            }
        }

        #languages, #tools, #databases {
            flex: 1 1 auto;
            
            @include four-hundred {
                margin-bottom: 3em;
            }

            ul {
                list-style-type: none;
                padding-left: 2em;
                margin-top: 1em;

                li {
                    opacity: 0.9;
                    padding: 0.35em;
                    font-size: 1.8rem;
                    text-shadow: $smallShadow;
                    filter: $dropShadow;
                    
                    @include six-hundred {
                        font-size: 1.5rem;
                    }

                    &::before { 
                        content:''; 
                        display:inline-block; 
                        height:0.8rem; 
                        width:0.8rem; 
                        mask-image:url('../images/bullet.svg');
                        margin-right: 0.8rem;
                        margin-bottom: 0.2rem; 
                        }
                }
            }
        }

        #databases {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            #skills-statement p {
                padding-left: 0.35em;
                font-size: 3rem;
                font-family: $headerFont;
                font-weight: bold;
                color: $yellow;
                text-shadow: $smallShadow;
                max-width: 500px;
                margin-top: 3vw;

                @include six-hundred {
                    font-size: 2rem;
                }
            }
        }

        #languages li::before {
            background-color: $red;
            grid-column-start: 1;
        }

        #tools li::before {
            background-color: $gray;
            grid-column-start: 2;
        }

        #databases li::before {
            background-color: $yellow;
            grid-column-start: 3;
        }
    }
}