@import '../../global-variables.scss';
@import '../../animations.scss';

#article-view {
    min-height: calc(100vh - #{$navHeight} - #{$navHeight} - #{$footerHeight} - 2px); // navHeight is used twice due to padding. 2px covers the hr and keeps scrollbar from showing up with short articles

    & > * {
        grid-column: 2;
        -ms-grid-column: 2;
    }

    #article {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto auto auto auto;
        -ms-grid-columns: 1fr;

        #article-date {
            grid-row: 1;
            -ms-grid-row: 1;
            align-self: start;
            justify-self: end;
            padding: 1.25em;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            font-weight: bold;
            z-index: 2;

            #date-day {
                font-size: 4rem;
                line-height: 3.5rem;
                opacity: 0;
                animation: fade-in 1s ease-out 0.5s;
                animation-fill-mode: forwards;
            }

            #date-month {
                font-size: 1.75rem;
                opacity: 0;
                animation: fade-in 1s ease-out 0.6s;
                animation-fill-mode: forwards;
            }

            #date-year {
                font-size: 1.25rem;
                opacity: 0;
                animation: fade-in 1s ease-out 0.7s;
                animation-fill-mode: forwards;
            }
        }
    
        #main-image {
            grid-row: 1;
            -ms-grid-row: 1;
            margin-left: 2em;
            margin-bottom: 0.3em;
            align-self: center;
            text-align: right;
            opacity: 0;
            animation: fade-in 1s ease-out;
            animation-fill-mode: forwards;
            
            img {
                width: 500px;
                height: 250px;
                object-fit: cover;
                border: 0.7em solid rgba(252, 171, 16, 0.5);
                transition: border 0.5s ease-out;
                box-shadow: $smallShadow;
            }
        }   
        h2 {
            grid-row: 2;
            -ms-grid-row: 2;
            margin-bottom: 0.1em;
            color: $yellow;
            justify-self: end;
            align-self: end;
            text-shadow: $smallShadow;
            text-align: right;
            opacity: 0;
            animation: fade-in 1s ease-out 0.2s;
            animation-fill-mode: forwards;
        }
    
        #article-body {
            grid-row: 3;
            -ms-grid-row: 3;
            align-self: end;
            text-align: right;
            opacity: 0;
            animation: fade-in 1s ease-out 0.5s;
            animation-fill-mode: forwards;
        }

        #article-tags {
            grid-row: 4;
            -ms-grid-row: 4;
            display: flex;
            flex-flow: row nowrap;
            align-items: start;
            justify-content: flex-end;
            margin-top: 0.2em;
            opacity: 0;
            animation: fade-in 1s ease-out 0.8s;
            animation-fill-mode: forwards;

            #article-tag {
                background: $yellow;
                color: $black;
                border-radius: 20px;
                padding: 0.2em 0.5em;
            }
        }
    }
}