@import url('https://fonts.googleapis.com/css?family=Arimo|PT+Sans:400,700');

// Global colors

$red: #F71735;
$yellow: #FCAB10;
$green: #A1E8AF;
$gray: #A9BCD0;
$black: #011627;
$white: #FDFFFE;

// Global fonts

$headerFont: 'PT Sans';
$textFont: 'Arimo';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    :not(h1), :not(h2), :not(h3), :not(h4), :not(h5), :not(h6) {
        font-family: $textFont, sans-serif;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont, sans-serif;
    font-weight: bold;
}

#hero-section {
    height: 80vh;
}

body {
    background: #fcab10; /* Old browsers */
    background: -moz-linear-gradient(45deg, #fcab10 0%, #f71735 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fcab10 0%,#f71735 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fcab10 0%,#f71735 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcab10', endColorstr='#f71735',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
}

