// Global colors

$red: #F71735;
$yellow: #FCAB10;
$green: #A1E8AF;
$blue: #2B4570;
$gray: #A9BCD0;
$black: #011627;
$white: #FDFFFE;

// Global fonts

$headerFont: 'PT Sans';
$textFont: 'Arimo';

// Other Global Variables

$sectionTitleWidth: 100px;
$verticalSectionMargin: 100px;

// Media Breaks

$tablet: 768px;
$mobile: 330px;