// Global colors

$red: #F71735;
$yellow: #FCAB10;
$green: #A1E8AF;
$blue: #2B4570;
$gray: #A9BCD0;
$black: #011627;
$white: #FDFFFE;

// Global fonts

$headerFont: 'Lato';
$textFont: 'Ubuntu';

// Media queries

@mixin eight-hundred {
    @media all and (max-width: 800px) {
        @content;
    }
}

// Other Global Variables

$sectionTitleWidth: minmax(1.5rem, 3vw);
$verticalSectionMargin: 10em;
$navHeight: 6.4em;

// Shadowing

$giantShadow: 0.3rem 0.3rem 2rem rgba(0,0,0,0.1);
$bigShadow: 0.3rem 0.3rem 1rem rgba(0,0,0,0.3);
$smallShadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.05);
$dropShadow: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.1));

.section-container {
    display: grid;
    grid-template-columns: $sectionTitleWidth 1fr $sectionTitleWidth;
    grid-template-rows: 1fr;
    align-items: flex-start;
    padding: $verticalSectionMargin 3vw;

    .content-container {
        padding: 5em 2vw;
    }
}

.sticky {
    margin-top: 8em;
}

.section-title {
    opacity: 0.7;
    align-self: start;
    padding-top: 5em;
}
