@import url('https://fonts.googleapis.com/css?family=Arimo|PT+Sans:400,700');
@import './global-variables.scss';


@media all and (max-width: #{$mobile - 1px}) {
    .hide-mobile {
        display: none;
    }
}

@media all and (max-width: #{$tablet - 1px}) {
    .hide-mobile {
        display: none;
    }
    .hide-tablet {
        display: none;
    }
}

@media all and (min-width: $mobile) {
    .only-mobile {
        display: none;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    :not(h1), :not(h2), :not(h3), :not(h4), :not(h5), :not(h6) {
        font-family: $textFont, sans-serif;
        color: $white;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont, sans-serif;
    font-weight: bold;
    color: $white;
}

body {
    background: $red; /* Old browsers */
    background: -moz-linear-gradient(45deg, $yellow 0%, $red 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, $yellow 0%,$red 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, $yellow 0%,$red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$yellow, endColorstr=$red,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-size: 100% 250vh;
}

#about-section {
    min-height: 100vh;
    background: #fcab10; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fcab10 0%, #f8312e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fcab10 0%,#f8312e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fcab10 0%,#f8312e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcab10', endColorstr='#f8312e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
