@import url('https://fonts.googleapis.com/css?family=Ubuntu|Lato:400,700');
@import './global-variables.scss';

// Set root font size to 62.5% so 1rem = 10px, 1.2rem = 12px, etc
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    :not(h1), :not(h2), :not(h3), :not(h4), :not(h5), :not(h6) {
        font-family: $textFont, sans-serif;
        color: $white;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont, sans-serif;
    font-weight: bold;
    color: $white;
}

body {
    background: $red; /* Old browsers */
    background: -moz-linear-gradient(45deg, $yellow 0%, $red 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, $yellow 0%,$red 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, $yellow 0%,$red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$yellow, endColorstr=$red,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-size: 100% 250vh;
    overflow-x: hidden;
}

#about-section {
    min-height: 100vh;
    background: #fcab10; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fcab10 0%, #f8312e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fcab10 0%,#f8312e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fcab10 0%,#f8312e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcab10', endColorstr='#f8312e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

// Custom Scrollbar - webkit-only

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 2em;

    &:hover {
        background: $yellow;
    }

    &:active {
        background: $red;
    }
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    
    background: $black;

    &:hover {
        background: $yellow;
    }

    &:active {
        background: $black;
    } 
}

::-webkit-scrollbar-corner {
    background: transparent;
}