@import '../global-variables.scss';


#fourOhFour {
    * {
        text-align: center;
    }

    h1 {
        font-size: 20vw;
    }

    p {
        font-size: 5vw;
        line-height: 7vw;
    }
}
