@import '../global-variables.scss';
@import '../animations.scss';

#nav {
    box-shadow: none;
    background: none;

    &.fixed {
        position: fixed;
        top: 0;
        background: #f95725; /* Old browsers */
        background: -moz-linear-gradient(45deg, #f95725 0%, #f71735 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #f95725 0%,#f71735 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #f95725 0%,#f71735 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95725', endColorstr='#f71735',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        animation: down 0.3s ease-out, fade-in 0.5s ease-out;
    }
}

#toolbar {
    display: grid;
    display: grid;
    grid-template-columns: 1fr minmax(400px, 40vw);
    height: $navHeight;

    @include eight-hundred {
        & {
            grid-template-columns: 1fr auto;
        }
    }

    #name {
        grid-column-start: 1;
        color: $white;
        font-family: $headerFont, sans-serif;
        font-weight: bold;
        font-size: 2.25rem;

        .hidden {
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }
    }

    @include eight-hundred {
        #menu-container {
            display: none;

            &.animated {
                display: block;
                position: absolute;
                top: 64px;
                right: 0;
                width: 275px;

                #menu {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    align-items: center;
                    z-index: 3;

                    #menu-background {
                        display: block;
                        position: absolute;
                        width: 275px;
                        height: 300px;
                        animation: fade-in 0.5s ease-out, big-down 0.5s ease-out;
                    }

                    li {
                        opacity: 0;

                        &:nth-child(2) {
                            animation: menu-slide-right 0.25s ease-in 0.4s, fade-in 0.75s ease-in 0.3s;
                            animation-fill-mode: forwards;   
                        }
                        &:nth-child(3) {
                            animation: menu-slide-right 0.25s ease-in 0.42s, fade-in 0.75s ease-in 0.32s;
                            animation-fill-mode: forwards;   
                        }
                        &:nth-child(4) {
                            animation: menu-slide-right 0.25s ease-in 0.44s, fade-in 0.75s ease-in 0.34s;
                            animation-fill-mode: forwards;   
                        }
                        &:nth-child(5) {
                            animation: menu-slide-right 0.25s ease-in 0.46s, fade-in 0.75s ease-in 0.36s;
                            animation-fill-mode: forwards;   
                        }
                        &:nth-child(6) {
                            animation: menu-slide-right 0.25s ease-in 0.48s, fade-in 0.75s ease-in 0.38s;
                            animation-fill-mode: forwards;   
                        }
                    }
                }
            }
        }

        #hamburger-menu {
            display: block !important;
            justify-self: end;
        }
    }

    #menu {
        grid-column-start: 2;
        display: flex;
        flex-direction: row;

        #menu-background {
            display: none;
        }

        li {
            flex: 1 1 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: $navHeight;

            a {
                flex: 1 1 auto;
                display: block;
                text-decoration: none;
                color: $white;
                font-size: 1.75rem;

                &:visited {
                    color: $white;
                }
            }

            &.active {
                border-bottom: 0.2rem solid $white;

                a {
                    margin-bottom: -0.2rem;
                }
            }
        }
    }

    #hamburger-menu {
        display: none;
    }
}

#menu-hr {
    margin: 0px 50px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $white;
    transition: margin-bottom 0.5s ease;

    &.animated {
        animation: swing-out 0.75s ease-out;
        animation-fill-mode: forwards;
    }

    &:not(.load):not(.animated) {
        animation: swing-in 0.25s ease-out;
    }
}