@import '../global-variables.scss';
@import '../animations.scss';

#nav {
    box-shadow: none;
    background: none;

    &.fixed {
        position: fixed;
        top: 0;
        background: #f95725; /* Old browsers */
        background: -moz-linear-gradient(45deg, #f95725 0%, #f71735 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #f95725 0%,#f71735 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #f95725 0%,#f71735 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95725', endColorstr='#f71735',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        animation: down 0.3s ease-out, fade-in 0.5s ease-out;
    }
}

#toolbar {
    display: grid;
    display: grid;
    grid-template-columns: 1fr minmax(400px, 40vw);

    #name {
        grid-column-start: 1;
        color: $white;
        font-family: $headerFont, sans-serif;
        font-weight: bold;
        font-size: 2.25rem;

        .hidden {
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }
    }

    ul {
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        li {
            flex: 1 1 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                flex: 1 1 auto;
                display: block;
                text-decoration: none;
                color: $white;
                font-size: 1.75rem;

                &:visited {
                    color: $white;
                }
            }

            .selected {
                border-bottom: 0.3rem solid $white;
            }
        }
    }
}

#menu-hr {
    margin: 0px 50px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $white;
}