@import '../global-variables.scss';
@import '../animations.scss';

#Hero {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    min-height: 80vh;
    padding: 50px;

    #hero-name, #bracket-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        text-align: center;
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
        height: 100%;
    }

    #hero-name {
        grid-column-start: 1;
        align-items: center;
        margin-right: 1.5vw;

        p {
            color: $white;
            font-family: $headerFont;
            font-weight: bold;
            font-size: 4.5vw;

            span {
                color: $yellow;
                opacity: 0.8;
            }
        }

        .hidden {
            opacity: 0;
        }
    }

    #bracket-container {
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        height: 100%;

        .bracket {
            align-items: center;
            display: flex;

            &::before { 
                content:''; 
                height: 15vw;
                min-width: 6vh;
                display:inline-block;
                mask-image:url('../images/bracket.svg');
                background: $yellow; /* Old browsers */
                background: -moz-linear-gradient(45deg, $yellow 0%, $red 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, $yellow 0%,$red 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, $yellow 0%,$red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$yellow, endColorstr=$red,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                mask-repeat: no-repeat;
                background-size: 300% 300%;
                animation: bg-diagonal 10s infinite both;
                }

            #right-bracket::before {
                background-size: 400% 400%;
                animation: bg-diagonal 15s infinite both;
            }
        }

        #hero-properties {
            margin: auto 5px;
            font-size: 3vw;
            text-align: left;
            color: $white;

            span {
                color: $yellow;
            }
        }
    }
}

.flip-h {
    transform: scaleX(-1);
}

#down-arrow {
    margin: auto;
    overflow: hidden;

    svg {
        display: block;
        margin: auto;
        animation: ping 1s ease-out infinite;
        overflow: hidden;

        path {
            fill: $yellow;
            opacity: 1;
            overflow: hidden;            
        }
    }

    &.hidden, &.hidden svg, &.hidden path {
        opacity: 0;
        animation: none !important;
    }
}