@import '../global-variables.scss';
@import '../animations.scss';

#Home {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    min-height: 80vh;
    padding: 0 5vw;

    #hero-name, #bracket-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        text-align: center;
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
        height: 100%;
    }

    #hero-name {
        grid-column-start: 1;
        align-items: center;
        margin-right: 1.5vw;
        text-shadow: $bigShadow;

        p {
            color: $white;
            font-family: $headerFont;
            font-weight: bold;
            font-size: 4vw;

            span {
                color: $yellow;
                opacity: 0.8;
            }
        }

        .hidden {
            opacity: 0;
        }
    }

    #bracket-container {
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        height: 100%;

        .bracket {
            align-items: center;
            display: flex;
            filter: $dropShadow;

            &::before { 
                content:'';
                $height: 15vw;
                height: $height;
                width: $height / 5.17; // the svg shows dimensions of 300x58, 300/58 = 5.17, so we can keep the scale easily
                display:inline-block;
                mask-image:url('../images/bracket.svg');
                background: $yellow; /* Old browsers */
                background: -moz-linear-gradient(45deg, $yellow 0%, $red 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, $yellow 0%,$red 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, $yellow 0%,$red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$yellow, endColorstr=$red,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                mask-repeat: no-repeat;
                mask-size: contain;
                background-size: 300% 300%;
                animation: bg-diagonal 10s infinite both;
                }

            #right-bracket::before {
                background-size: 400% 400%;
                animation: bg-diagonal 15s infinite both;
            }
        }

        $propertySize: 3.2vw;

        #hero-properties {
            margin: auto 0.5em;
            font-size: $propertySize;
            text-align: left;
            color: $white;
            text-shadow: $bigShadow;

            input.bool {
                color: $yellow;
                width: 6.5vw;
                background: none;
                font-size: $propertySize;
                border: none;
                    border-bottom: 1px solid transparent;
                    margin-bottom: -1px;
                resize: horizontal;
                text-shadow: $bigShadow;

                &:active, &:focus, &:hover {
                    background: none;
                    outline: none;
                }

                &:focus {
                    border-bottom: 1px solid $yellow;
                }
            }
        }
    }
}

.flip-h {
    transform: scaleX(-1);
}

#down-arrow {
    margin: auto;
    overflow: hidden;

    svg {
        display: block;
        margin: auto;
        animation: ping 1s ease-out infinite;
        overflow: hidden;

        path {
            fill: $yellow;
            opacity: 1;
            overflow: hidden;            
        }
    }

    &.hidden, &.hidden svg, &.hidden path {
        opacity: 0;
        animation: none !important;
    }
}

#ui-block {
    display: none;
    height: 3em;
    width: 20em;
    background: transparent;
    color: black;
}