@import '../global-variables.scss';

#Projects {
    display: grid;
    grid-template-columns: 1fr $sectionTitleWidth;
    grid-template-rows: 1fr;
    padding: $verticalSectionMargin 50px;
    background: $gray; /* Old browsers */
    background: -moz-linear-gradient(45deg, $blue 0%, $green 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, $blue 0%,$green 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, $blue 0%,$green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blue, endColorstr=$green,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    #project-list {
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        margin: 0 5vw;

        > :first-child {
            align-self: flex-end;
            margin-top: 0px;
        }

        > :nth-child(2), > :nth-child(4) {
            align-self: center;
            
            &.expanded {
                img {
                        justify-self: start !important;
                }
                .expanded-tool-icons {
                    animation: down 0.3s ease-out, fade-in 0.8s ease-out !important;
                    animation: right 0.3s ease-out, fade-in 0.8s ease-out !important;
                }
            }
            &:not(.expanded) {
                img {
                        justify-self: start !important;
                        animation: left 0.3s ease-out, fade-in 0.8s ease-out !important;
                }
                .tool-icons {
                    animation: up 0.3s ease-out, fade-in 0.8s ease-out !important;
                }
            }
        }

        > :nth-child(3) {
            align-self: flex-start;

            &.expanded {
                img {
                        justify-self: start !important;
                        animation: right-down 0.3s ease-out, fade-in 0.8s ease-out !important;
                }
                .expanded-tool-icons {
                    animation: down-right 0.3s ease-out, fade-in 0.8s ease-out !important;
                }
            }
            &:not(.expanded) {
                img {
                        justify-self: start !important;
                        animation: left-up 0.3s ease-out, fade-in 0.8s ease-out !important;
                }
                .tool-icons {
                    animation: up-left 0.3s ease-out, fade-in 0.8s ease-out !important;
                }
            }
        }

        > :last-child {
            margin-bottom: 0px;
        }
    }

    .section-title {
        grid-column-start: 2;

        .sticky {
            margin-top: 80px;
        }
    }
}