@import '../global-variables.scss';
@import '../animations.scss';

$expandedImgWidth: 40vw;
$collapsedImgWidth: 30vw;


// Styling for collapsed/un-expanded project

.project-container:not(.expanded) {
    display: grid;
    grid-template-columns: 1fr $collapsedImgWidth;
    grid-template-rows: auto 4rem;
    margin: 5em 0;
    transition: all 0.5s ease-out;
    will-change: position;

    .text {
        grid-column-start: 1;
        grid-row-start: 1;
        align-self: center;
        text-align: right;
        -ms-grid-column-align: right;
        -ms-grid-row-align: center;
        margin-right: 1.5rem;

        h2 {
            margin-bottom: 0.5rem;
            color: $blue;
            animation: right-down 0.3s ease-out;
            will-change: position;
            text-shadow: $smallShadow;
            font-size: 4vw;
        }

        .short-desc {
            line-height: 1.2em;
            animation: fade-in 1s ease-out;
            will-change: opacity;
            font-size: 1.9rem;
        }

        .long-desc {
            display: none;
        }

        .bullets {
            display: none;
        }
    }

    .main-image {
        grid-column-start: 2;
        grid-row-start: 1;
        cursor: pointer;

        img {
            width: $collapsedImgWidth;
            border: 0.7em solid rgba(161, 232, 175, 0.4);
            transition: border 0.5s ease-out;
            box-shadow: $smallShadow;
        }

        .expanded-tool-icons {
            display: none;
        }

        
        .links {
            display: none;
        }
    }

    .tool-icons {
        grid-column-start: 2;
        grid-row-start: 2;
        display: flex;
        flex-direction: row;
        justify-self: right;
        animation: fade-in 0.5s ease-out, up-right 0.25s ease-out;
        will-change: position;
        filter: $dropShadow;

        svg, img {
            height: 28px;
            margin: 5px;
    
            path {
                fill: $green;
                animation: blue-green 0.5s ease-out;
            }
        }

        .tool-name {
            display: none;
        }
    }
}


// Styling for expanded project
.project-container.expanded {
    display: grid;
    grid-template-columns: 1fr $expandedImgWidth;
    grid-template-rows: 1fr;
    margin: 5em 0;
    background-color: rgba(161, 232, 175, 0.2);
    padding: 1.5em;
    border-radius: 0.5em;
    transition: background-color 1.25s ease-in,
                margin 1.25s ease-in;
    box-shadow: $giantShadow;
    cursor: pointer;
    will-change: contents;
    transition: box-shadow 1.75s ease-out 0.5s;

    .text {
        grid-column-start: 1;
        text-align: left;
        -ms-grid-column-align: right;
        -ms-grid-row-align: center;
        margin-right: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h2 {
            align-self: flex-start;
            color: $blue;
            animation: left-up 0.4s ease-in, fade-in .5s ease-in;
            will-change: position;
            font-size: 3vw;

        }

        .long-desc {
            line-height: 1.2em;
            opacity: 0;
            animation: fade-in 1.25s ease-out 0.2s;
            animation-fill-mode: forwards;
            font-size: 1.7rem;
            line-height: 2rem;
            margin: 0.5em 0;

            // @media all and (max-width: 1000px) {
            //     display: none;
            // }
        }

        .short-desc {
            display: none;
        }

        ul {
            list-style-type: none;
            padding-left: 2em;
            width: 100%;
            margin-left: 1vw;
            text-indent: -2rem;
            opacity: 0;
            animation: fade-in 1.25s ease-out 0.4s;
            animation-fill-mode: forwards;

            li {
                opacity: 0.9;
                padding: 0.5rem;
                font-size: 1.5rem;

                &:before { 
                    content: ''; 
                    display: inline-block; 
                    height: 1rem; 
                    width: 1rem; 
                    mask-image:url('../images/bullet.svg');
                    margin-right: 1rem;
                    background-color: $blue;
                    }
            }
        }

    }

    .main-image {
        grid-column-start: 2;
        grid-row-start: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        cursor: pointer;

        img {
            grid-row-start: 1;
            width: $expandedImgWidth;
            border: 0;
            justify-self: end;
            transition: width 0.5s ease-out,
                        border 1s ease-in;
        }
        .expanded-tool-icons {
            grid-row-start: 2;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
            margin-top: 1em;
            animation: down-left 0.5s ease-out, fade-in 0.5s ease-out;
            will-change: position;
            filter: $dropShadow;

            & > * {
                margin: 1em;
            }
    
            svg, img {
                height: 28px;
                display: block;
                margin: 5px auto;
        
                path {
                    fill: $green;
                    animation: green-blue 1s ease-out;
                    animation-fill-mode: forwards;
                }
            }
    
            .tool-name {
                align-self: bottom;
                animation: fade-in 1s ease-out;
                font-size: 1.5rem;
            }
        }

        .links {
            margin-top: 2em;
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: flex-end;
            opacity: 0;
            animation: fade-in 0.75s ease-out 0.6s;
            animation-fill-mode: forwards;
            
            .web-link {
                margin-left: 2em;
            }

            span {
                margin-left: 1em;
            }

            path {
                fill: $blue;
            }
        }

        a, a:visited {
            color: $green;
            text-decoration: none;
        }
    }

    .tool-icons {
        display: none;
    }
    
}