@import '../index.scss';

#Projects {
    display: grid;
    grid-template-columns: 1fr $sectionTitleWidth;
    grid-template-rows: 1fr;
    margin: 50px 0;

    .section-title {
        grid-column-start: 2;
        align-self: center;
    }
}